<nav class="flex justify-between items-center md:max-w-xlg h-16 md:space-x-4 bg-sky-200">
    <a href="#"><img src="./../../../assets/iti-logo.png" class="w-8 h-12 ml-8"/></a>
    <div class="pr-4">
        <a href="#" class="px-2 md:px-7 py-2 rounded-lg text-blue-950 text-sm md:text-lg hover:bg-sky-300">Home</a>
        <a href="#" class="px-2 md:px-7 py-2 rounded-lg text-blue-950 text-sm md:text-lg hover:bg-sky-300">Team</a>
        <a href="#" class="px-2 md:px-7 py-2 rounded-lg text-blue-950 text-sm md:text-lg hover:bg-sky-300">Projects</a>
        <a href="#" class="px-2 md:px-7 py-2 rounded-lg text-blue-950 text-sm md:text-lg hover:bg-sky-300">Reports</a>
        <a href="#" class="px-2 md:px-7 py-2 rounded-lg text-blue-950 text-sm md:text-lg hover:bg-sky-300">Cart</a>
    </div>
    
</nav>