<div class="w-full px-10 py-6 h-100 mb-4">
    <table class="table-fixed mb-6">
        <thead>
          <tr>
            <th class="px-8">ID</th>
            <th class="px-8">Name</th>
            <th class="px-8">Image</th>
            <th class="px-8">Quantity</th>
            <th class="px-8">Price</th>
            <th class="px-8">Count</th>
            <th class="px-8">Buy</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let prd of prdList">
            <td class="px-8">{{prd.id}}</td>
            <td class="px-8">{{prd.name}}</td>
            <td class="px-8"><img [src]="prd.imgUrl" class="w-32 h-16"/></td>
            <td class="px-8">{{prd.quantity}}</td>
            <td class="px-8">{{prd.price}}</td>
            <td class="px-8"><input #itemsCount type="number" class="p-3 w-16 bg-sky-200 rounded-lg hover:bg-sky-300"></td>
            <td class="px-8"><button type="button" class="p-3 w-16 bg-sky-200 rounded-lg hover:bg-sky-300" (click)="buy(prd.price, itemsCount.value)">Buy</button></td>
          </tr>
        </tbody>
      </table>
      <hr class="mb-6">
      <h3>Order Total Price : {{orderTotalPrice}}</h3>
</div>