<div class="w-64 h-full bg-sky-100 px-8 py-6">
    <h2 class="text-xl">Sidebar</h2>
    <hr class="h-px w-full my-4 border-0 bg-blue-300">

    <ul class="space-y-4">
        <a href="#"><li class="px-2 py-2 rounded-lg hover:bg-sky-300">Home</li></a>
        <a href="#"><li class="px-2 py-2 rounded-lg hover:bg-sky-300">Dashboard</li></a>
        <a href="#"><li class="px-2 py-2 rounded-lg hover:bg-sky-300">Orders</li></a>
        <a href="#"><li class="px-2 py-2 rounded-lg hover:bg-sky-300">Products</li></a>
        <a href="#"><li class="px-2 py-2 rounded-lg hover:bg-sky-300">Customers</li></a>
        <a href="#"><li class="px-2 py-2 rounded-lg hover:bg-sky-300">Home</li></a>
        <a href="#"><li class="px-2 py-2 rounded-lg hover:bg-sky-300">Dashboard</li></a>
        <a href="#"><li class="px-2 py-2 rounded-lg hover:bg-sky-300">Orders</li></a>
        <a href="#"><li class="px-2 py-2 rounded-lg hover:bg-sky-300">Products</li></a>
        <a href="#"><li class="px-2 py-2 rounded-lg hover:bg-sky-300">Customers</li></a>
    </ul>
</div>